Makefile
configure
pkgIndex.tcl
dedupConfig.sh
generic/dedup.h
generic/dedupDecls.h
generic/dedupStubInit.c
autom4te.cache
config.log
config.status
tags
*.so
*.o
*.a
*.swp
doc/dedup.n
*~
*.gcda
*.gcno
Makefile.teabase
